# If you want to tweak opcache settings, you can do that here...
files:
  "/etc/php.d/99opcache.ini":
    mode: "000644"
    owner: root
    group: root
    content: |
      opcache.enable=1
      opcache.validate_timestamps=1
      opcache.revalidate_freq=60
      opcache.max_accelerated_files=20000
      opcache.memory_consumption=128
      opcache.interned_strings_buffer=16
      opcache.fast_shutdown=1